---
import Social from "./Social.astro";

const links = {
  twitter: "pedroreis_io",
  linkedin: "pedro-barcellos",
};

const styles = {
  anchor: {
    "text-decoration": "none",
    "margin-right": "1em",
  },
};

function getLink(platform: string) {
  const suffix = "https://www.";
  const prefix = `${links[platform]}`;
  let finalLink;

  switch (platform) {
    case "linkedin":
      finalLink = `${suffix}${platform}.com/in/${prefix}`;
      break;
    default:
      finalLink = `${suffix}${platform}.com/${prefix}`;
  }

  return finalLink;
}
---

<footer>
  <p>
    Learn more about my projects on
    <Social platform="github" username="barcellos-pedro" />
  </p>

  <p>Add me on:</p>

  {
    Object.keys(links).map((platform) => (
      <a style={styles.anchor} href={getLink(platform)}>
        {platform}
      </a>
    ))
  }
</footer>
